input.search-text {
    color: #222;
    position: relative;
    z-index: 5;
    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
    height: 45px;
    width: 0;
    margin: 0;
    padding: 5px 0 5px 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    background: url('/src/assets/Icons/search.svg') no-repeat left 9px center transparent;
    background-size: 24px;
}

input.search-text:focus {
    z-index: 3;
    width: 270px;
    border: 1px solid #666;
    background-color: white;
    border-color: transparent;
    outline: none;
    cursor: auto;
    padding-right: 10px;

}

input.search-text::-webkit-search-cancel-button {
    cursor: pointer;
}